body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #222;
    /*background-image: url("https://i.ibb.co/dDhy5v9/bg-inverted.png");
    background-blend-mode: hard-light;
    background-size: cover;*/
    color: #ddd;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal {
    width: 80%;
    max-width: 800px;
    background-color: #111;
    border: 1px solid #444;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.terminal-header {
    background-color: #333;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.terminal-buttons {
    display: flex;
    gap: 5px;
}

.terminal-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}

.terminal-button.close {
    background-color: #f44;
}

.terminal-button.minimize {
    background-color: #fc0;
}

.terminal-button.maximize {
    background-color: #4f4;
}

.terminal-title {
    margin-left: 10px;
    color: #ddd;
    font-weight: bold;
}

.terminal-body {
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.terminal-output {
    white-space: pre-wrap;
    color: #ddd;
}

.terminal-input {
    display: flex;
    background-color: #333;
    padding: 5px 10px;
}

.terminal-input span {
    color: #8f8;
    margin-right: 5px;
}

.terminal-input input[type="text"] {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ddd;
    font-family: 'Courier New', Courier, monospace;
    flex: 1;
};

