.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    display: inline-block;
    background-color: rgb(51, 51, 51);
    color: rgb(170, 170, 170);
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    z-index: 1000;
    padding: 10px 20px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(170, 170, 170);
    border-image: initial;
    border-radius: 5px;
    text-decoration: none;
    overflow: hidden;
    transition: color 0.3s ease 0s, border-color 0.3s ease 0s, background-color 0.3s ease 0s;
}

.back-button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: calc(100% + 10px);
    height: calc(100% + 10px);
    mix-blend-mode: screen;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    clip-path: polygon(0% 0%, 100% 0%, 85% 50%, 100% 100%, 0% 100%);
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 255, 0), rgb(0, 0, 255));
    animation: auto ease 0s 1 normal none running none;
    transition: transform 0.3s ease 0s;
}

.back-button:hover {
    background-color: transparent;
    color: #f00;
    border-color: transparent;
}

.back-button:hover:before {
    animation: glitch 1s infinite linear alternate-reverse;
}

@keyframes glitch {
    0% {
        transform: translate(-5px, -5px);
    }
    10% {
        transform: translate(5px, -5px);
    }
    20% {
        transform: translate(-5px, 5px);
    }
    30% {
        transform: translate(5px, 5px);
    }
    40% {
        transform: translate(-5px, -5px);
    }
    50% {
        transform: translate(5px, -5px);
    }
    60% {
        transform: translate(-5px, 5px);
    }
    70% {
        transform: translate(5px, 5px);
    }
    80% {
        transform: translate(-5px, -5px);
    }
    90% {
        transform: translate(5px, -5px);
    }
    100% {
        transform: translate(-5px, 5px);
    }
}
